@import "./custom-bootstrap.scss";
@import "./variables.scss";
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fff7ed;
}

.site-page {
  padding-top: 53px;
  padding-bottom: 53px;
  @media only screen and (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.main-content {
  min-height: calc(100vh - $navHeight - $footerHeight);
}
