.host-vans {
  h2 {
    margin: 0;
  }
  &__all-vans {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    &__van-tile {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem 1.5rem;
      border-radius: 6px;
      background-color: #fff;
      .zoom-img {
        max-width: 125px;
        border-radius: 5px;
      }
      &__van-text {
        h3 {
          margin: 0;
          color: #161616;
          font-size: 1.5rem;
          font-weight: 600;
        }
        p {
          font-size: 1.25rem;
          margin: 0;
          color: #4d4d4d;
          font-weight: 500;
        }
      }
      @media only screen and (max-width: 768px) {
        .zoom-img {
          max-width: 70px;
        }
        &__van-text {
          h3 {
            font-size: 1.25rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
