.income {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  h2 {
    margin: 2rem 0;
  }
  h4 {
    color: #161616;
    font-size: 3rem;
    font-weight: 800;
    margin: 2rem 0 2.5rem;
  }
  &__transactions {
    margin-top: 3rem;
    &__title {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      h3 {
        margin: 0;
        color: #161616;
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
    .transaction {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 6px;
      background: #fff;
      padding: 2rem;
      margin-top: 2rem;
      h5 {
        margin: 0;
        color: #161616;
        font-size: 2.25rem;
        font-weight: 600;
      }
      p {
        color: #4d4d4d;
        font-size: 1.25rem;
        font-weight: 500;
      }
    }
  }
}
